<!doctype html>
<head>
    <title>Совместить pdf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
</head>
<body>
    {% include 'navigation.html' %}

    <h1>Вытащить таблицы</h1>
    <form class="form_actions" action="/getcsvfrompdffile" method=post enctype=multipart/form-data>
        <input class="text_area" type=text name=folder_for_download required>
        <input class="file_picker" type=file name="file" accept="application/pdf" required>
        <input class="upload_button" type=submit value=Upload>
    </form>
</body>